.noscroll,
.noscroll body {
    overflow: hidden;
}
.noscroll body {
    position: relative;
}
.wrapper{margin-bottom: 160rpx;}
.header{width: 750rpx;position: relative;}
.header img{width: 750rpx;}
.dnone{display: none;}

.cuppon-box{width: 750rpx;position: absolute;bottom: -40rpx;left: 0;margin: auto;}
.phone-cuppon{width: 576rpx;height: 156rpx;background-image: url(https://ah.189.cn/sj/cms/images/sjmall/activity/cuppon-bg.png);background-size: 576rpx 156rpx;background-repeat: no-repeat;display: block;position: relative;margin: auto;}
.phone-cuppon .left{float: left;width: 420rpx;color: #fff;}
.phone-cuppon .left .info{width: 420rpx;display: flex;justify-content: space-evenly;margin-top: 4rpx;}
.phone-cuppon .left .info .price{font-size: 35rpx;}
.phone-cuppon .left .info .price span{font-size: 100rpx;font-weight: bold;color: #fff8dc;}
.phone-cuppon .left .info .cuppon-info{margin-top: 28rpx;font-size: 24rpx;}
.phone-cuppon .left .info .cuppon-info .info1{font-size: 32rpx;font-weight: bold;line-height: 50rpx;}
.phone-cuppon .left .info .cuppon-info .info2{border: 2rpx solid #fff;font-size: 28rpx;padding: 4rpx 10rpx;border-radius: 20rpx;margin-top: 10rpx;display:inline-block;line-height: 32rpx;margin-right: 10rpx;}
.phone-cuppon .right{position: absolute;right: 30rpx;top: 27rpx;}
.phone-cuppon .right .btn3{width: 109rpx;height: 109rpx;background-image: url(https://ah.189.cn/sj/cms/images/sjmall/activity/cuppon-btn.png);background-size: 109rpx;background-repeat: no-repeat;display: block; -webkit-animation: cupponbtn 0.8s linear infinite alternate;
  animation: cupponbtn 0.6s ease-in-out infinite alternate;}
.phone-cuppon .right .btn4,.phone-cuppon .right .btn5{width: 130rpx;height: 52rpx;background: #c370f4;font-size: 28rpx;color: #fff;display: block;line-height: 52rpx;border-radius: 30rpx;margin-top: 27rpx;font-style: normal;position: relative;left: 12rpx;}
.phone-cuppon .right .btn5{background: #e9399c;;opacity: 0.6;}
.rule-text{text-align: left;margin-right: 90rpx;color: #fff;float: right;font-size: 22rpx;margin-top: 10rpx;}
.rule-text .rule-pop{color: #43FDFF;}




.main{position: relative;}
.main .content{margin-top: 50rpx;position: relative;}
.main .content1{margin-top: -50rpx;}
.main .content1 .title{width: 419rpx;height: 32px;background-image: url(https://ah.189.cn/sj/cms/images/sjmall/activity/title1.png);background-size: 419rpx 32rpx;background-repeat: no-repeat;margin: auto;}
.main .content2{margin-top: 60rpx;}
.main .content2 .title{width: 552rpx;height: 32rpx;background-image: url(https://ah.189.cn/sj/cms/images/sjmall/activity/title2.png);background-size: 552rpx 32rpx;background-repeat: no-repeat;margin: auto;}
.main .content2 ul{margin-top: 50rpx;}
.main .content2 ul li{display: flex;justify-content: space-evenly;}
.main .content2 ul li .wrap1 img{width: 300rpx;height: 323rpx;}
.main .content2 ul li .wrap2{text-align: left;color: #FEFFFF;font-size: 32rpx;position: relative;top: 60rpx;}
.main .content2 ul li .wrap2 .tl img{width: 230rpx;height: 44rpx;}
.main .content2 ul li:nth-child(4) .wrap2 .tl img{width: 280rpx;}
.main .content2 ul li .wrap2 p{margin-top: 12rpx;}
.main .content2 ul li .wrap2 p::before{
  content: "";
  width: 20rpx;
  height: 20rpx;
  border: 4rpx solid #3DF5FF;
  display: inline-block;
  border-radius: 20rpx;
  vertical-align: middle;
  margin-right: 6rpx;

}
.main .content2 ul li .wrap2 a{margin-top: 12rpx;font-size: 24rpx;margin-left: 36rpx;color: #3BF7FF;text-decoration: underline;}

.main .content3 .title{width: 359rpx;height: 32rpx;background-image: url(https://ah.189.cn/sj/cms/images/sjmall/activity/title3.png);background-size: 359rpx 32rpx;background-repeat: no-repeat;margin: auto;}
.main .content3 .wrap{width: 680rpx;margin: auto;margin-top: 50rpx;}

.main .content4 .title{width: 359rpx;height: 32rpx;background-image: url(https://ah.189.cn/sj/cms/images/sjmall/activity/title4.png);background-size: 359rpx 32rpx;background-repeat: no-repeat;margin: auto;}
.main .content4 .rule-content{position: relative;}
.main .content4 .rule-content .rule-text2{width: 680rpx;margin:auto;color: #fff;margin-top: 30rpx;margin-bottom: 30rpx;text-align: left;font-size: 26rpx;}
.main .content4 .rule-content .rule-text2 .st{font-weight: bold;}
.main .content4 .rule-content .rule-text2 p{margin-top: 15rpx;}
.main .content4 .rule-content .t-btn{width: 240rpx;height: 56rpx;font-size: 26rpx;font-style: normal;color: #fff;border: 2rpx solid #fff;border-radius: 40rpx;margin:20rpx auto;line-height: 56rpx;}
.main .content4 .rule-title{width: 260rpx;height: 60rpx;background:#fff;border-radius: 0 0 30rpx 30rpx;position: absolute;left: 215rpx;top: 0;line-height: 60rpx;font-size: 40rpx;color: #8A0088;font-weight: bold;}

.bottom-btn{width: 690rpx;height: 100rpx;background: #4968FE;border-radius: 50rpx;line-height: 60rpx;display: block;position: fixed;left: 30rpx;bottom: 28rpx;z-index: 199;color: #fff;line-height: 100rpx;font-size: 46rpx;font-weight: bold;}

.login-bg{width: 100%;height: 100%;background: rgba(0, 0, 0, 0.7);position: fixed;left: 0;top: 0;z-index: 16666;}
.login-bg .login-wrap{width: 690rpx;height: 490rpx;position: relative;left: 50%;top: 50%;margin-left: -345rpx;margin-top: -245rpx;border-radius: 20rpx;color: #fff;}
.login-bg .login-wrap .login-head{width: 690rpx;height: 100rpx;background:linear-gradient(135deg,rgba(67,211,252,1) 0%,rgba(53,66,252,1) 100%);position: relative;top: 0;left: 0;border-radius: 20rpx 20rpx 0 0;line-height: 100rpx;font-size: 36rpx;font-weight: 600;}
.login-bg .login-wrap .login-head em{width: 574rpx;height: 99rpx;background-image: url(https://ah.189.cn/sj/cms/images/sjmall/activity/login-icon.png);background-repeat: no-repeat;background-size: 574rpx 99rpx;display: block;position: absolute;left: 31rpx;bottom: 24rpx;}
.login-bg .login-wrap ul{position: relative;background: #ffffff;padding: 30rpx 0;border-radius: 0 0 20rpx 20rpx;}
.login-bg .login-wrap ul li{width: 590rpx;height: 85rpx;line-height: 85rpx;font-size: 30rpx;position: relative;left: 50rpx;;margin: 30rpx 0;}
.login-bg .login-wrap ul li input{padding-left: 30rpx;}
.login-bg .login-wrap ul li:first-child input{border-radius: 10rpx;width: 590rpx;height: 85rpx;background: #F1F1F1;}
.login-bg .login-wrap ul li:nth-child(2) input{border-radius: 10rpx;width:400rpx;height: 85rpx;background: #F1F1F1;float: left;}
.login-bg .login-wrap ul li:nth-child(2) span{border-radius: 10rpx;width:180rpx;height: 85rpx;background:linear-gradient(135deg,rgba(67,211,252,1) 0%,rgba(53,66,252,1) 100%);float: right;color: #ffffff;}
.login-bg .login-wrap ul li:nth-child(3) span{border-radius: 10rpx;width:590rpx;height: 85rpx;background:linear-gradient(135deg,rgba(67,211,252,1) 0%,rgba(53,66,252,1) 100%);color: #ffffff;display: block;font-size: 36rpx;margin-top: 40rpx;}
.login-bg .login-wrap i{width: 58rpx;height: 58rpx;background-image: url(https://ah.189.cn/sj/cms/images/sjmall/activity/close.png);background-repeat: no-repeat;background-size: contain;display: block;position: absolute;bottom: -150rpx;left: 50%;margin-left: -29rpx;}


.login-bg .login-wrap2{width: 600rpx;height: 120rpx;background: #ffffff;position: relative;left: 50%;top: 50%;margin-left: -300rpx;margin-top: -45rpx;border-radius: 20rpx;color: #333;font-size: 40rpx;line-height: 120rpx;text-align: center;}
.login-bg .login-wrap2 i{width: 58rpx;height: 58rpx;background-image: url(https://ah.189.cn/sj/cms/images/sjmall/activity/close.png);background-repeat: no-repeat;background-size: contain;display: block;position: absolute;bottom: -100rpx;left: 50%;margin-left: -29rpx;}


.pop-bg{width: 100%;height: 100%;position: fixed;left: 0;top: 0;z-index: 9999;background: rgba(0, 0, 0, 0.7);}
.pop-box{width: 670rpx;height: 684rpx;background: #fff;border-radius: 20rpx;position: fixed;left: 50%;top: 50%;margin-left: -335rpx;margin-top: -342rpx;}
.pop-box .pop-head{width: 670rpx;height: 90rpx;line-height: 90rpx;text-align: center;background:linear-gradient(135deg,rgba(67,211,252,1) 0%,rgba(53,66,252,1) 100%);;font-size: 36rpx;color: #fff;border-radius: 20rpx 20rpx 0 0;}
.pop-box .pop-content{width: 670rpx;height: 602rpx;background: #ffffff;overflow: scroll;font-size: 28rpx;border-radius: 0 0 20rpx 20rpx;}
.pop-box .pop-content .text{width: 630rpx;margin:30rpx auto;color: #333333;text-align: left;}
.pop-box .pop-content .text p{margin-bottom: 8rpx;}
.text-strong{font-weight: bold;margin-bottom: 20rpx;color: #333333;}
.pop-box i{width: 58rpx;height: 58rpx;background-image: url(https://ah.189.cn/sj/cms/images/sjmall/activity/close.png);background-repeat: no-repeat;background-size: contain;display: block;position: absolute;bottom: -100rpx;left: 50%;margin-left: -29rpx;}

.pop-bg2{width: 100%;height: 100%;position: fixed;left: 0;top: 0;z-index: 9999;background: rgba(4, 29, 66, 0.995);}
.pop-bg2 .active-pop{width: 650rpx;height: 761rpx;background-image: url(https://ah.189.cn/sj/cms/images/sjmall/activity/active-pop.png);background-size: 650rpx 761rpx;background-repeat: no-repeat;position: absolute;left: 50%;top: 50%;margin-left: -325rpx;margin-top: -380.5rpx;}


.pop-box2{width: 510rpx;height: 400rpx;background: url(https://ah.189.cn/sj/cms/images/sjmall/activity/cuppon-code-pop.png);background-size: 510rpx 400rpx;border-radius: 20rpx;position: fixed;left: 50%;top: 50%;margin-left: -255rpx;margin-top: -200rpx;}
.pop-box2 .pop-head{width: 510rpx;color: #fff;font-size: 38rpx;font-weight: bold;line-height: 120rpx;}
.pop-box2 i{width: 58rpx;height: 58rpx;background-image: url(https://ah.189.cn/sj/cms/images/sjmall/activity/close.png);background-repeat: no-repeat;background-size: contain;display: block;position: absolute;bottom: -100rpx;left: 50%;margin-left: -29rpx;}
.pop-box2 .cuppon-code{position: relative;left: 60rpx;top: 50rpx;text-align: left;font-size: 32rpx;color: #333333;}
.pop-box2 .cuppon-code span{color: #666666;}
.pop-box2 .btn-copy{width: 250rpx;height: 64rpx;font-size: 36rpx;font-weight: bold;margin: auto;position: relative;top: 130rpx;color: #fff;border: 2rpx solid #fff;border-radius: 50rpx;line-height: 64rpx;}

.pop-box3{width: 650rpx;height: 871rpx;background: url(https://ah.189.cn/sj/cms/images/sjmall/activity/quanyi.png);background-size: 650rpx 871rpx;border-radius: 20rpx;position: fixed;left: 50%;top: 50%;margin-left: -325rpx;margin-top: -435.5rpx;}
.pop-box3 i{width: 58rpx;height: 58rpx;background-image: url(https://ah.189.cn/sj/cms/images/sjmall/activity/close.png);background-repeat: no-repeat;background-size: contain;display: block;position: absolute;bottom: -100rpx;left: 50%;margin-left: -29rpx;}







.copyright{position: relative;width: 100%;text-align: center;margin-top: 100rpx;color: #fff;font-size: 24rpx;}
.fubiao{width:96rpx;position: fixed;display: block;right: 30rpx;bottom: 350rpx;z-index: 299;}
.fubiao img{width: 100%;}

.adbanner{width: 100%;position: relative;display: block;margin: auto;margin-top: 30rpx;}
.adbanner img{width: 690rpx;height: 120rpx;display: block;margin: auto;}






@keyframes cupponbtn{
  0% {
    -webkit-transform: scale(0.9) translateX(0);
            transform: scale(0.9) translateX(0);
  }
  100% {
    -webkit-transform: scale(1.02) translateX(0);
            transform: scale(1.02) translateX(0);
  }
}
