body{background:#f13748;max-width: 750rpx;margin:0 auto;}
.login_box{border-radius:4px;width:92%;background:#fefbf1;box-shadow:inset 5px 4px 10px #f9e1c0;}
.yz_btnf{margin:5% auto;display: block;width:86%;height:45px;line-height:45px;border-radius:30px;color:#fff; background: linear-gradient(#f19480,#df3933); }
.title{border-top-left-radius:4px;border-top-right-radius:4px;height:40px;line-height:40px; background:linear-gradient(#f0a74a,#f1aa4f); }
.jms_tabcontent2{height:45px;width:100%;}
.jms_tabcontent2 li{width:50%;height:45px;line-height:45px;font-weight:bold; float: left;color:#f1aa4f;text-align:center;font-size:16px;background:#fff;border-bottom:1px solid #f1aa4f;}
.jms_tabcontent2 li.active{background:#f1aa4f;color:#fff;}
.jms_tabcontent2 li:last-child{border-top-right-radius:6px;}
.jms_tabcontent2 li:first-child{border-top-left-radius:6px;}
.jms_tabcont2{background:#fefbf1;border-bottom-left-radius:6px;border-bottom-right-radius:6px;padding:20px 0;}
.xx_box{background: #f6f5f2;width:100%;height: 40px;line-height: 40px;border-radius: 4px;}
.xx_box input{background: none;padding-left: 5px;}
.xx_box2{background: #f6f5f2;height: 40px;line-height: 40px;border-radius: 4px;width: 62%;}
.xx_box2 input{background: none;width:55%;height: 20px; padding: 10px 5px;}
.huoqu_btn{background:#9cc5dc;display: block;width:35%;height:40px;line-height:40px;border-radius:4px;color:#fff;}
.huoqu_btn_gray{background:gray;display: block;width:35%;height:40px;line-height:40px;border-radius:4px;color:#fff;}
.huoqu_btnh{background:#ccc;display: block;width:35%;height:40px;line-height:40px;border-radius:4px;color:#fff;}
.look_btn{background: #f9433e;width:50%;height: 40px;margin:20px auto;display: block; text-align: center;line-height: 40px;border-radius:24px;font-size: 30rpx;color:#fff;}

.footer{color:#a59c90;padding:20px 0;}
.tc_ko{width:90%;position:fixed;top:15%;left:5%;display:none;z-index:9999;}
.tc_ko-bg{width:100%;height:100%;position:fixed;top:0px;left:0px;background:#000;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7;display:none; z-index:999;}
.boxbg{border-radius:6px;background: #fff;}
.que_btn{color: #1b2569; box-shadow:2px 4px 5px #b84f2b;background: linear-gradient(#fbe391,#ed903d);display:block;width:80%;height:40px;margin:5% auto;line-height:40px;border-radius:26px;}

.zhixiao_btn{display:block;width:40%;margin:10px auto;height:40px;line-height:40px;color:#f9433e;border:1px solid #f9433e;border-radius:24px;font-size:16px;}


.bg{background: url(https://ah.189.cn/sj/cms/activity/bigTurntable/index_03.jpg) no-repeat center top;background-size:cover;}
.dl_btn{width:50%;margin:0px auto;height:35px;line-height:35px;border-radius:24px;color:#e03a36; background:linear-gradient(#fff1cc,#fad56e);}
.login_btn{color:#e03a36;}

.rotate {
  overflow:hidden;
  position: relative;
  width: 100%;
  height: 675rpx;
  background: no-repeat center / contain;cursor: default;}
.lunpai {background: no-repeat center / contain;cursor: default;
  position: absolute;
  left: 50%;
  top: 0;
  width: 675rpx;
  height: 675rpx;
  margin-left: -339rpx;
  background-image: url("https://ah.189.cn/sj/cms/activity/bigTurntable/circle.png");
}
.ring {background: no-repeat center / contain;cursor: default;
  position: absolute;
  left: 50%;
  top: 26rpx;
  width: 617rpx;
  height: 617rpx;
  margin-left: -306rpx;
  background-image: url("https://ah.189.cn/sj/cms/activity/bigTurntable/dark.png");
}
.rotate div.light {background: no-repeat center / contain;cursor: default;
  background-image: url("https://ah.189.cn/sj/cms/activity/bigTurntable/light.png");
}
#btn {background: no-repeat center / contain;cursor: default;
  position: absolute;
  left: 100%;
  top: 80%;
  width: 160rpx;
  height: 198rpx;
  margin: -114rpx 0 0 -80rpx;
  background-image: url("https://ah.189.cn/sj/cms/activity/bigTurntable/button.png");
}
.prize {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -275rpx 0 0 -275rpx;
  width: 550rpx;
  height: 550rpx;
  border-radius: 50%;
}


@keyframes init {
  100% {
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.prize li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 275rpx;
  background: no-repeat 55% 58%;
  font-size: 26rpx;
  font-weight: bold;
  line-height: 60rpx;
  text-align: center;
  color: #d71d2b;
  -moz-transform-origin: center bottom;
  -webkit-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}
.prize li:nth-child(1) {

  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.prize li:nth-child(2) {

  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.prize li:nth-child(3) {

  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.prize li:nth-child(4) {

  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.prize li:nth-child(5) {

  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.prize li:nth-child(6) {

  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
.prize li:nth-child(7) {

  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.prize li:nth-child(8) {

  -o-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}
.prize li span {background:#fdf3ab;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: -50%;
  -o-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -o-transform: rotate(68deg) skewY(44deg);
  -ms-transform: rotate(68deg) skewY(44deg);
  -moz-transform: rotate(68deg) skewY(44deg);
  -webkit-transform: rotate(68deg) skewY(44deg);
  transform: rotate(68deg) skewY(44deg);
}

.prize li:nth-child(1) span,.prize li:nth-child(3) span,.prize li:nth-child(5) span,.prize li:nth-child(7) span{background:#fff;}


.prize li p {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 71%;
  height: 60%;
  text-align: center;
  line-height: 45rpx;padding-left:225rpx;transform: rotate(45deg) skewY(0deg);
}


.biank{border:1px solid #fff;border-radius:4px;padding:2px 10px;}

.yellow{color: #fffe03}.cheng{color:#ff8200;}
.hong{color:#f9433e;}
.footer{color: #fff;text-align: center;padding: 20px 0;}
.cj_nub{margin: 16rpx auto;text-align: center;font-size: 31rpx;color:#fff;}
.gh_hm{background:#f24d48;border:1px solid #c82a10;padding:2px 8px;color: #fff;border-radius: 4px;margin-left: 8px;}
.zj_xx{background: #fff8f8;border-radius: 8px;width: 90%;margin:37.5rpx auto;padding: 2%;font-size: 14px;}

.bt_tt{font-size: 37.5rpx}
.blue{color: #277ad6;}
.line{width: 100%;height: 1px;background: #e6d8d8;margin: 2% 0;}

.maquee{ height:150px;width:100%; overflow:hidden; margin:0 auto; color:#333}
.maquee ul{ width:100%; height:150px;}
.maquee li{ width:100%; height:30px; line-height:30px; text-align:center;font-size: 12px;}
.ma_sc li span{display: inline-block;float: left;white-space:nowrap; 
text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow: hidden; }
.wp30{width: 30%;}
.wp40{width: 40%;}


.wp20{width:20%;}

.lingqu_btn{background:#f9433e;text-align: center;display:block;width:50%;height:30px;line-height:30px; color: #fff;border-radius: 24px;padding:2px 15px;margin:10px auto;}

.lanse{color:#277ad6;}
.tc_box{width:90%;margin:10px auto;}
.tc_bgj{background: #f6f5f2;
    text-align: center;
    font-size: 16px;color: #f9433e;font-weight:bold;
    height: 40px;
    line-height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;}
.tc_bgj2{background: #f6f5f2;
    text-align: center;
    font-weight:bold;
    height: 40px;
    line-height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;}

.dbl_btn{background:#f9433e;height:25px;line-height:25px;width:80%;margin:0 auto;color:#fff;display:block;border-radius:12px;}
.ylq_btn{background:#aaaaaa;height:25px;line-height:25px;width:80%;margin:0 auto;color:#fff;display:block;border-radius:12px;}

.yuanjiao{background:#e6e6e6;width:18px;line-height:18px;height:18px;border-radius:20px;text-align:center;color:#111;}

.fq_btn{width:45%;display:block;float:left;border: 1px solid #bababa;color:#666666;border-radius:4px;text-align:center;height:35px;line-height:35px;font-size:16px;}
.bl_btn{width:45%;display:block;float:right;border-radius:4px;text-align:center;height:35px;line-height:35px;background:#f9433e;border:1px solid #f9433e;color:#fff;font-size:16px;}



.zhidao_btn{width:40%;display:block;margin:10px auto;border: 1px solid #bababa;color:#666666;border-radius:24px;text-align:center;height:35px;line-height:35px;font-size:16px;}

.kuang{border:1px solid #cecece;color:#333333;text-align: center;padding: 10px 0;position:relative;margin-top: 10px;}
.kuang .jiaobiao{position: absolute;top:2px;left: 0px;background: #fe6f37;color: #fff;font-size: 12px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;padding: 2px 5px;}

.kuangon{border:2px solid #f9433e;background: url(https://ah.189.cn/sj/cms/activity/bigTurntable/ad_gou.png) no-repeat right bottom;color:#333333;text-align: center;padding: 10px 0;position:relative;margin-top: 10px;}
.kuangon .jiaobiao{position: absolute;top: 2px;left: 0px;background: #fe6f37;color: #fff;font-size: 12px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;padding: 2px 5px;}




.rule{background:url(https://ah.189.cn/sj/cms/activity/bigTurntable/cj_03.png) repeat;width:18%;height:30px;line-height:30px; color:#fff;position:fixed;right:0;top:3%;border-top-left-radius:20px;border-bottom-left-radius:20px;}
.devCode{background:url(https://ah.189.cn/sj/cms/activity/bigTurntable/cj_03.png) repeat;width:27%;height:40px;line-height:20px; color:#fff;position:fixed;left:0;top:83%;border-top-right-radius:20px;border-bottom-right-radius:20px;}

.mask-rule,#mask,.mask-gift,.mask-login {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
}
.mask-rule .box-rule {
	position: relative;
	margin: 20% auto;
	width: 90%;
	border-radius:4px; background-color: #fff;
}
.mask-gift .box-rule,.mask-login .box-rule{
	position: relative;
	margin: 20% auto;
	width: 90%;
	border-radius:4px; background-color: #fff;
}
.mask-rule .box-rule h2,.mask-gift .box-rule h2,.mask-login .box-rule h2 {
	width: 100%;
	text-align: center;
	line-height: 34rpx;
	font-size: 34rpx;
	font-weight: normal;
	color: #eb5402;
}
.mask-rule #close-rule,.mask-gift .close-gift,.mask-login .close-login {
	position: absolute;
	right: 34rpx;
	top: 15rpx;
	width: 45rpx;
	height: 45rpx;
	background-image: url("https://ah.189.cn/sj/cms/activity/bigTurntable/close2.png");background-size: cover;
}

	.mask-rule .con,.box-rule .con {
	position: relative;
	margin: 40rpx auto;
	width: 580rpx;
	line-height: 40rpx;
	font-size: 26rpx;
	color: #000;
}

	#mask {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
}

#mask .caidai {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-image: url("https://ah.189.cn/sj/cms/activity/bigTurntable/dianzhui.png");
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
#mask .winning {
	position: absolute;
	left: 5%;
	top:20%;
	z-index: 1;
	width: 90%;

	-o-transform: scale(0.1);
	-ms-transform: scale(0.1);
	-moz-transform: scale(0.1);
	-webkit-transform: scale(0.1);
	transform: scale(0.1);
}
#mask .reback {
	-o-animation: reback .5s linear forwards;
	-ms-animation: reback .5s linear forwards;
	-moz-animation: reback .5s linear forwards;
	-webkit-animation: reback .5s linear forwards;
	animation: reback .5s linear forwards;background: #fff;border-radius: 8px;
}
@keyframes reback {
	100% {
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
}

.winning #card {z-index: 1;
	width:90%;margin: 0 auto;}
#card .win {
	display: block;line-height: 60rpx;}
.gxcz{font-size:30rpx}


.input_box{background: #f6f5f2;width:100%;height:35px;line-height:35px;border-radius: 4px;}
.input_box input{background: none;padding-left: 5px;}

.input_box2{background: #f4f4f4;border:1px solid #cecece; height:35px;line-height:35px;border-radius: 4px;width:72%;}
.input_box2 input{background: none;width:95%;height:20px; padding:7px 5px;}
.huoqu_btn2{background:#f9433e;display: block;width:26%;height:35px;line-height:35px;border-radius:4px;color:#fff;}

.lingqu_btn2{background:#f9433e;color:#fff;width:80%;height:35px;line-height:35px;border-radius:24px;margin:20px auto;}

.winning .pull {}
@keyframes card {
	100% {
	margin-top: -240rpx;
}
}
.winning .btn {display: block;
	z-index: 2;margin:20px auto;
	width: 364rpx;
	height: 70rpx;
	font-size: 37.5rpx;
	background:#eb5402;text-align: center;
	line-height: 70rpx;
	color: #fff;
	-o-animation: shake .5s 2 linear alternate;
	-ms-animation: shake .5s 2 linear alternate;
	-moz-animation: shake .5s 2 linear alternate;
	-webkit-animation: shake .5s 2 linear alternate;
	animation: shake .5s 2 linear alternate;
}
@keyframes shake {
	50% {
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
100% {
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);
}
}
#close {
	opacity: 0;
	position: absolute;
	right: 1.5rpx;
	top: 7.5rpx;
	z-index: 10;
	width: 45rpx;
	height: 45rpx;background-size: cover;
	background-image: url("https://ah.189.cn/sj/cms/activity/bigTurntable/close2.png");
	-o-animation: fadein .5s .5s linear forwards;
	-ms-animation: fadein .5s .5s linear forwards;
	-moz-animation: fadein .5s .5s linear forwards;
	-webkit-animation: fadein .5s .5s linear forwards;
	animation: fadein .5s .5s linear forwards;
}
@keyframes fadein {
	100% {
	opacity: 1;
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
}

.hui_bg{background:#f4f4f4;color:#ff8200;border:1px solid #d1d1d1;padding:10px;}
.list_gift{width:100%;border-top:none;}
.list_gift th{background:#ffff;padding:10px 0;color:#333;}
.list_gift tr{font-size:12px;border-bottom:1px solid #d1d1d1;text-align: center;}
.list_gift td{padding:6px 0;}
.huang_bg{background:#ffedc6;border-top:1px solid #fbd685;}
.zong{color:#a55b03;}
.bthangao{line-height:40px;margin:10px auto;}
.line2{border-bottom:1px solid #dfc793;}

.lj_btn{background:#f9433e;border-radius:20px;color:#fff;height:30px;line-height:30px;}
.wp30{width:30%;}.wp25{width:25%;}.wp45{width:45%;}
.quan_border{border:1px solid #f9433e;}
.quan_left{background:#f9433e;color:#fff;}

.quan_left {
  position: relative;
  width:30%;
  height:100%;
  background:#f9433e;color:#fff;
  display: inline-block;
}
.quan_left:before, .quan_left:after {
  content: "";
  position: absolute;
  top: -20px;
  display: block;
  width: 10px;
  height: 100%;
  margin-top: 20px;
  background-size: 20px 10px;
}

.quan_left:before {
  left: -10px;
  background-color: #fff;
  background-position: 100% 35%;
  background-image: linear-gradient(-45deg, #f9433e 25%, transparent 25%, transparent), 
                  linear-gradient(-135deg, #f9433e 25%, transparent 25%, transparent), 
                  linear-gradient(-45deg, transparent 75%, #f9433e 75%), 
                  linear-gradient(-135deg, transparent 75%, #f9433e 75%);
}
/*弹窗*/
.title1{background:#f6f5f2;color:#f9433e; width:100%;height:40px;line-height:40px;border-top-left-radius:8px;border-top-right-radius:8px;}
.ad_tc{width:80%;position:fixed;top:15%;left:10%;display:none;z-index:9999;}
.wh_bg{border-bottom-left-radius:8px;border-bottom-right-radius:8px;background:#fff;padding:5%;}
.ad_tc-bg{width:100%;height:100%;position:fixed;top:0px;left:0px;background:#000;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7;display:none; z-index:999;}
.anbtm{width:70%;margin:20px auto 10px auto;background:#f9433e;height: 40px;line-height:40px;border-radius:30px;color:#fff;}


.ad_tc2{width:80%;position:fixed;top:15%;left:10%;display:none;z-index:9999;}
.ad_tc2-bg{width:100%;height:100%;position:fixed;top:0px;left:0px;background:#000;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7;display:none; z-index:999;}
.titlebg{background:url(https://ah.189.cn/sj/cms/activity/bigTurntable/bg.png) no-repeat center top;width:100%;height:24vw;background-size: cover;color:#134f91;border-top-left-radius:8px;border-top-right-radius:8px;}

.btn1{width:55%; height:37px;line-height:37px;border-radius:30px;color:#fff;background:#f9433e;border:1px solid #f9433e;}
.btn2{width:55%;background:#fff;border:1px solid #a6a6a6;height: 37px;line-height:37px;border-radius:30px;color:#666;}


.ad_box{background: #f6f5f2;width:100%;height: 40px;line-height: 40px;border-radius: 4px;}
.ad_box input{background: none;padding-left: 5px;}

.wh_bg2{padding:5%;}
.ad_tc3{width:80%;position:fixed;top:15%;left:10%;display:none;z-index:9999;background:#fff;border-radius:8px;}
.ad_tc3-bg{width:100%;height:100%;position:fixed;top:0px;left:0px;background:#000;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7;display:none; z-index:999;}


.ad_tc4{width:80%;position:fixed;top:15%;left:10%;display:none;z-index:9999;}
.ad_tc4-bg{width:100%;height:100%;position:fixed;top:0px;left:0px;background:#000;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7;display:none; z-index:999;}


/*0121新增pc兼容样式*/
@media screen and (min-width:750px){
 .mask-rule .box-rule {
position: relative;
margin: 10% auto;
width: 34%;
border-radius:4px; background-color: #fff;
}
}
@media screen and (min-width:750px){
 .mask-rule #close-rule, .mask-gift .close-gift, .mask-login .close-login {
position: absolute;
right: 10rpx;
top: 3.75rpx;
width: 15rpx;
height: 15rpx;
background-image: url("https://ah.189.cn/sj/cms/activity/bigTurntable/close2.png");
background-size: cover;
}
}
@media screen and (min-width:750px){
 .mask-rule #close-rule, .mask-gift .close-gift, .mask-login .close-login {
position: absolute;
right: 10rpx;
top: 3.75rpx;
width: 15rpx;
height: 15rpx;
background-image: url("https://ah.189.cn/sj/cms/activity/bigTurntable/close2.png");
background-size: cover;
}
}
@media screen and (min-width: 750px){
 .mask-rule .con,.box-rule .con {
position: relative;
margin: 10rpx auto;
width: 580rpx;
line-height: 15rpx;
font-size: 10rpx;
color: #000;
}
}
@media screen and (min-width: 750px){
.mask-gift .box-rule,.mask-login .box-rule{
position: relative;
margin: 10% auto;
width: 34%;
border-radius:4px; background-color: #fff;
}
}
@media screen and (min-width: 750px){
.look_btn{background: #f9433e;width:50%;height: 40px;margin:20px auto;display: block; text-align:
center;line-height: 40px;border-radius:24px;font-size: 18px;color:#fff;}
}
@media screen and (min-width:750px){
.ad_tc{width:34%;position:fixed;top:15%;left:33%;display:none;z-index:9999;}
}
@media screen and (min-width:750px){
.ad_tc2{width:34%;position:fixed;top:15%;left:33%;display:none;z-index:9999;}
}
@media screen and (min-width:750px){
.ad_tc3{width:34%;position:fixed;top:15%;left:33%;display:none;z-index:9999;background:#fff;borderradius:8px;}
}
@media screen and (min-width:750px){
.ad_tc4{width:34%;position:fixed;top:15%;left:33%;display:none;z-index:9999;}
}
@media screen and (min-width:750px){
.titlebg{background:url(https://ah.189.cn/sj/cms/activity/bigTurntable/bg.png) no-repeat center top;width:100%;height:14vw;background-size:
cover;color:#134f91;border-top-left-radius:8px;border-top-right-radius:8px;}
}
@media screen and (min-width:750px){
.bt_tt{font-size:18px;}
}
@media screen and (min-width:750px){
#mask .winning {
position: absolute;
left:33%;
top:20%;
z-index: 1;
width:34%;
-o-transform: scale(0.1);
-ms-transform: scale(0.1);
-moz-transform: scale(0.1);
-webkit-transform: scale(0.1);
transform: scale(0.1);
}
}
@media screen and (min-width:750px){
#close {
opacity: 0;
position: absolute;
right: 1.5rpx;
top: 1.5rpx;
z-index: 10;
width: 15rpx;
height: 15rpx;background-size: cover;
background-image: url("https://ah.189.cn/sj/cms/activity/bigTurntable/close2.png");
-o-animation: fadein .5s .5s linear forwards;
-ms-animation: fadein .5s .5s linear forwards;
-moz-animation: fadein .5s .5s linear forwards;
-webkit-animation: fadein .5s .5s linear forwards;
animation: fadein .5s .5s linear forwards;
}
}
@media screen and (min-width:750px){.rotate {
 position: relative;
 width: 100%;
 height: 375rpx;
 background: no-repeat center / contain;
 cursor: default;
}}
@media screen and (min-width:750px){.lunpai {
 background: no-repeat center / contain;
cursor: default;
position: absolute;
left: 50%;
top: 0;
width: 375rpx;
height: 375rpx;
margin-left: -187.5rpx;
background-image: url("https://ah.189.cn/sj/cms/activity/bigTurntable/circle.png");
}}
@media screen and (min-width:750px){.ring {
 background: no-repeat center / contain;
 cursor: default;
 position: absolute;
 left: 50%;
 top: 18rpx;
 width: 337rpx;
 height: 337rpx;
 margin-left: -168rpx;
 background-image: url("https://ah.189.cn/sj/cms/activity/bigTurntable/dark.png");
}}
@media screen and (min-width:750px){.rotate div.light {
 background: no-repeat center / contain;
 cursor: default;
 background-image: url("https://ah.189.cn/sj/cms/activity/bigTurntable/light.png");
}}
@media screen and (min-width:750px){#btn {
 background: no-repeat center / contain;
 cursor: default;
 position: absolute;
 left: 50%;
 top: 50%;
 width: 75rpx;
 height: 75rpx;
 margin: -37.5rpx 0 0 -37.5rpx;
 background-image: url("https://ah.189.cn/sj/cms/activity/bigTurntable/button.png");
}}
@media screen and (min-width:750px){.prize {
overflow: hidden;
position: absolute;
left: 50%;
top: 50%;
margin: -150rpx 0 0 -150rpx;
width: 300rpx;
height: 300rpx;
border-radius: 50%;
}}
@media screen and (min-width:750px){.prize li {
 position: absolute;
left: 0;
top: 0;
width: 100%;
height: 150rpx;
background: no-repeat 55% 58%;
font-size: 12rpx;
font-weight: bold;
line-height: 7.5rpx;
text-align: center;
color: #d71d2b;
}
}
@media screen and (min-width:750px){.prize li p {
overflow: hidden;
position: relative;
margin: 0 auto;
width: 80%;
height: 77%;
text-align: center;
line-height:30rpx;
padding-left: 105rpx;
transform: rotate(45deg) skewY(0deg);
}}
@media screen and (min-width:750px){.bg{background: url(https://ah.189.cn/sj/cms/activity/bigTurntable/index_03.jpg) no-repeat center
top;background-size:cover;}}