
@charset "utf-8";
/* CSS Document */

a,a:hover,a:active,a:visited,a:link,a:focus{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;outline:none;background: none;text-decoration: none;}
body{ color:#333}

/*颜色*/
.cGray{ color:#999}
.cRed{ color:#f22424}
.cBlue{ color:#00a0ff}

/*按钮*/
.btn-blue-s,.btn-org-s{line-height:20px; min-width:65px; padding:0 10px; color:#fff; border-radius:15px; font-size:12px;}
.btn-blue-s{filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#4bb3ff',endColorStr='#00a0ff',gradientType='1');background: -moz-linear-gradient(left,#4bb3ff,#00a0ff);background: -o-linear-gradient(left,#4bb3ff,#00a0ff);background: -webkit-gradient(linear,left,right,from(#4bb3ff), to(#00a0ff));background: linear-gradient(to right,#4bb3ff,#00a0ff);/* 标准的语法 */}
.btn-org-s{filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#4bb3ff',endColorStr='#f54850',gradientType='1');background: -moz-linear-gradient(left,#fe9c58,#f54850);background: -o-linear-gradient(left,#fe9c58,#f54850);background: -webkit-gradient(linear,left,right,from(#fe9c58), to(#f54850));background: linear-gradient(to right,#fe9c58,#f54850);/* 标准的语法 */}

/*tab切换*/
.tab-bg{ position:fixed; z-index:999; left:0; right:0; top:0;padding-top:6px; background:#f6f6f6}
.tabNav{ background:#fff; height:40px;zoom:1; box-shadow:0 2px 5px rgba(0,0,0,.03); display:flex;}
.tabNav li{width:50%; text-align:center}
.tabNav a{color:#9d9d9d;height:40px;font:15px/40px "pingfang SC"; font-weight:bold; display:inline-block; position:relative}
.tabNav .hover a{ color:#00a0ff}
.tabNav .hover a:after{ content:""; height:2px; position:absolute; left:0; right:0; bottom:0; background:#00a0ff}
.tabCnt{ position:absolute; top:46px; left:0; right:0; padding:10px 20px 60px 20px;}
.tabCnt .hover{display:block;}
.tabPane{display:none;zoom:1;}

/*优惠券列表*/
.coupon-li{ display:flex; background:#fff; position:relative; padding:6px; margin-bottom:10px}
.coupon-li .left-img{ width:100px; height:100px;}
.coupon-li .left-img img{ width:100%}
.coupon-li .right-info{  border-left:1px dashed #e2e2e2; padding-left:15px; margin-left:8px}
.coupon-li:before,.coupon-li:after{ content:""; width:12px; height:12px; display:inline-block; background:#f6f6f6; border-radius:50%; position:absolute;top:50%; margin-top:-6px}
.coupon-li:before{left:-6px;}
.coupon-li:after{right:-6px;}
.right-info dt{font-size:15px; color:#333; line-height:34px}
.right-info dd{ padding-top:5px}
.btn-blue-s{ line-height:20px; min-width:65px; padding:0 10px; color:#fff; border-radius:15px; font-size:12px;filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#4bb3ff',endColorStr='#00a0ff',gradientType='1');background: -moz-linear-gradient(left,#4bb3ff,#00a0ff);background: -o-linear-gradient(left,#4bb3ff,#00a0ff);background: -webkit-gradient(linear,left,right,from(#4bb3ff), to(#00a0ff));background: linear-gradient(to right,#4bb3ff,#00a0ff);/* 标准的语法 */}
.right-info p{ margin-top:20px; line-height:20px}
.bottom-bar{ background:#fff; height:60px; position:fixed; bottom:0; left:0; right:0; display:flex; border-top:1px solid #eaeaea}
.bottom-bar a{ font-size:15px; line-height:60px; display:inline-block; color:#333; font-weight:bold; width:50%; display:inline-block; text-align:center; position:relative}
.bottom-bar a:first-child:after{ content:""; position:absolute; width:1px; height:14px; background:#ccc; right:0; top:23px;}
.none-tip{ text-align:center}
.none-tip dt{ padding-top:90px;}
.none-tip dd{ font-size:15px; line-height:20px; padding:10px; color:#818080}

/*优惠券创建*/
.gy-tit{ line-height:24px; padding:12px 12px 12px 0; font-size:14px; display:flex; align-items:center; color:#333;}
.gy-tit .blue-line{ width:3px; height:14px; background:#00a0ff; display:inline-block; margin-right:10px}
.form-list{ background:#fff; border-top:1px solid #eaeaea; border-bottom:1px solid #eaeaea;}
.form-list .form-item{ line-height:20px; padding:12px 15px; position:relative; display:flex; justify-content:space-between}
.form-list .form-item:after{ content:""; position:absolute; height:1px; background:#eaeaea; left:15px; right:0; bottom:0}
.form-list .form-item:last-child:after{ height:0}
.form-right{ width:55%; text-align:right}
.form-right input{ text-align:right ; width:100%;font-family:"pingfang SC";}

input::-webkit-input-placeholder{color:#999;}
input:-moz-placeholder{color:#999;}
input::-moz-placeholder{color:#999;}
input:-ms-input-placeholder{color:#999;}
textarea::-webkit-input-placeholder{color:#999;}
textarea:-moz-placeholder{color:#999;}
textarea::-moz-placeholder{color:#999;}
textarea:-ms-input-placeholder{color:#999;}

.img-list{ background:#fff; border-top:1px solid #eaeaea; border-bottom:1px solid #eaeaea}
.img-list li{ position:relative; padding:10px 15px}
.img-list li:after{ content:""; position:absolute; height:1px; background:#eaeaea; left:15px; right:0; bottom:0}
.img-list li:last-child:after{ height:0}
.img-list-head{display:flex; justify-content:space-between; line-height:20px; padding-bottom:6px}
.img-list-con{ width:70px; height:70px; border:1px solid #e1e1e1; text-align:center}
.img-list-con a{ display:inline-block; width:100%; height:100%}
.img-list-con a dt{ padding-top:10px}
.img-list-con a dd{ line-height:24px; color:#666}
.img-list-foot{ color:#666; line-height:20px; margin-top:6px}
.img-list-foot a{ color:#00a0ff}

.tara-block{ background:#fff; padding:10px 15px}
.tara-block textarea{width:100%; line-height:20px; border:0;font-family:"pingfang SC";}

/*去掉iPhone手机input的默认样式*/
input[type="button"], input[type="submit"], input[type="reset"], input[type="text"] {-webkit-appearance:none;}
textarea {-webkit-appearance:none; outline:0 none}
input[type=button], input[type=submit] {cursor:pointer;}

.btn-bottom{ line-height:63px; font-size:15px; border-top:1px solid #e1e1e1; position:fixed; width:100%; bottom:0; background:#fff}
.pb64{ padding-bottom:64px}

/*弹出层*/
.layer-new{ border-radius:5px !important; display:none; width:calc(100% - 30px) !important;font-family:"pingfang SC";}
.layer-new .layui-m-layercont{ padding:0 !important;}
.layer-new .layui-m-layerbtn{ background:#fff; border-color:#efefef; height:60px; line-height:60px}
.layer-new .layui-m-layerbtn span{font:15px/60px "pingfang";font-family:"pingfang SC";}
.layer-new .layui-m-layerbtn span[no]{ border-color:#efefef; color:#666;}
.layer-new .layui-m-layerbtn span[yes]{ color:#333; font-weight:bold }
.layer-new h3{ border-bottom:1px solid #e1e1e1; font-size:16px !important; font-weight:bold !important}

/*素材库图片列表*/
.p18{padding:18px 18px 8px 18px !important}

.img-list-big{ display:flex; justify-content:space-between; flex-wrap:wrap;}
.img-list-big li{ width:calc((100% - 10px)/2);background: #f4f4f4;margin-bottom: 10px;height:9.5vh;position: relative;}
.img-list-big li img{ width:100%; height:100%}
.img-list-big li.hover .img-list-icon{ width:29px; height:29px; background:url(https://ah.189.cn/sj/cms/images/sjmall/images/icon-check.png) no-repeat right bottom; background-size:29px; display:inline-block; position:absolute; right:0; bottom:0}

.img-list-small{ display:flex;flex-wrap:wrap;}
.img-list-small li{ width:calc((100% - 20px)/3);background: #f4f4f4;margin-bottom: 10px;height:auto;position: relative;margin-right: 10px;}
.img-list-small li:nth-last-of-type(3n){margin-right: 0;}
.img-list-small li img{ width:100%; height:100%}
.img-list-small li.hover{ background:url(https://ah.189.cn/sj/cms/images/sjmall/images/icon-check.png) no-repeat right bottom; background-size:29px;}
.img-list-small li.hover .img-list-icon{ width:29px; height:29px; background:url(https://ah.189.cn/sj/cms/images/sjmall/images/icon-check.png) no-repeat right bottom; background-size:29px; display:inline-block; position:absolute; right:0; bottom:0}

/*通用券管理*/
.plr20{ padding-left:20px; padding-right:20px;}
.coupons-total{ background:#f6f6f6; line-height:26px; padding:11px 20px; display:flex; justify-content:space-between; position:fixed; top:0; left:0; right:0; z-index:999}
.coupons-total b{ font-size:15px}
.check-all{ background:#fff !important;line-height:26px; padding:0 12px; display:inline-block; font-size:14px; color:#333; border:1px solid #666; border-radius:14px}
.check-all .check-icon{ width:16px; height:16px; margin-top:5px; float:left; background: url(https://ah.189.cn/sj/cms/images/sjmall/images/icon-check-gray.png) no-repeat center center; background-size:16px; display:inline-block; margin-right:8px}
.check-all.hover{border-color:#00a0ff; color:#00a0ff}
.check-all.hover .check-icon{ background: url(https://ah.189.cn/sj/cms/images/sjmall/images/icon-check-blue.png) no-repeat center center; background-size:16px; }
.coupons-main{ position:relative; top:48px; left:0; right:0; bottom:0}
.coupons-check .coupon-li.hover{background:#fff url(https://ah.189.cn/sj/cms/images/sjmall/images/icon-check.png) no-repeat right bottom; background-size:29px; }

/*优惠券详情*/
.coupons-banner{background: #fff;padding-bottom: 20px;}
.img-auto{width: 100%;height: auto;}
.coupons-banner dl{margin:20px 20px 0 20px;color: #333;}
.coupons-banner dt{font: 15px/24px "pingfang SC";font-weight: bold;}
.coupons-banner dt span{float: right;color: #999;font-size: 12px;}
.coupons-banner dt span img{margin-right: 5px;}
.coupons-banner dd{font: 14px/20px "pingfang SC";}
.coupons-detail{background: #fff;padding:20px;}
.coupons-detail h3{font: 15px/30px "pingfang SC";font-weight: bold;}
.coupons-detail p{font: 14px/24px "pingfang SC";color: #666;}

/*优惠券*/
.coupons-detailbg{background:#fd4159 url(https://ah.189.cn/sj/cms/images/sjmall/images/coupons-detailbg.jpg) no-repeat center top; background-size:100% auto;box-sizing: border-box;}
.coupons-detail-my dt,.coupons-detail-my dd{float: left;}
.coupons-detail-my dt{border: 2px solid #fff;border-radius: 100%;background: #e1e1e1;width: 50px;height: 50px;}
.coupons-detail-my dt img{border-radius: 100%;}
.coupons-detail-my dd{font: 16px/20px "pingfang SC";color: #fff;font-weight: bold;margin:7px 0 0 10px}
.coupons-detail-my dd p{font-size: 12px;font-weight: normal;}
.coupons-detail-bg{background: #fff;border-radius: 15px;box-shadow: 5px 3px 20px #e03848;padding:20px 14px;box-sizing: border-box;position: relative;}
.coupons-detail-bg b{position: absolute;left:50px;top:-20px;width: 58px;height: 46px;background: url(https://ah.189.cn/sj/cms/images/sjmall/images/coupons-detail-up.png) no-repeat;background-size: 100% auto;}

.coupons-detail-con{background: linear-gradient(124deg,#fc8a68,#fb305b);height: 180px;border-radius: 10px;position: relative;text-align: center;color: #fff;}
.coupons-detail-con:before,.coupons-detail-con:after{ content:""; width:20px; height:20px; display:inline-block; background:#fff; border-radius:50%; position:absolute;bottom:35px;}
.coupons-detail-con:before{left:-10px;}
.coupons-detail-con:after{right:-10px;}
.coupons-detail-con li{font: 14px/20px "pingfang SC";}
.coupons-detail-con li.fBold{font: 25px/50px "pingfang SC";font-weight: bold;}
.coupons-detail-con p{font: 12px/44px "pingfang SC";border-top: 1px dashed #fff;position: absolute;bottom:0;width: 100%;}
.coupons-detail-enjoy{margin:40px auto 20px; text-align: center;}
.coupons-detail-btn{display:flex; justify-content:space-between;padding:20px 14px}
.coupons-detail-btn1{background: #ffe139;color: #000;text-align: center;border-radius: 6px;width: calc(50% - 7px);height: 40px;font:14px/40px "pingfang SC";box-shadow: 5px 3px 20px #e03848;}

/*登录弹窗*/
.layer-login .layui-m-layercont{ padding:0 !important;}
.form-list-login{border-top: 0;border-bottom: 0;}
.form-list-login a{color: #00a0ff;}