/************ simple类 ****************/
.flex{
    display: flex;
}
.flex1{
    flex: 1;
}
.flex-btw{
    justify-content: space-between;
}
.flex-vm{
    align-items: center;
}
.w-full{
    width: 100%;
}
.c_base{
    color: #F24D2F;
}
.c_green{
    color: #0CBF47;
}
.cGray9{
    color: #999;
}
.c333{
    color: #333;
}
.pd10{
    padding: 10px;
}


/************ 详情 ****************/
.phone-page{
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #333;
}
.phone-page .phone-main{
    flex: 1;
    overflow: auto;
}
/*轮播*/
.phone-swiper{
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 15px;
}
.phone-swiper .swiper-slide{
    text-align: center;
}
.phone-swiper img{
    width: 300px;
    margin: 10px 0 20px 0;
}
.phone-swiper .swiper-pagination{
    bottom: 0;
}
.phone-swiper .swiper-pagination-bullet-active{
    background-color: #F24D2F;
}
/*介绍*/
.phone-pro{
    padding: 10px 15px;
    border-top: 1px solid #F8F8F8;
}
.phone-btn_block{
    height: 46px;
    line-height: 46px;
    text-align: center;
    background-color: #F24D2F;
    color: #fff;
    font-size: 14px;
}
.phone-price-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.phone-price-box label{
    color: #F24D2F;
}
.phone-price-box label em{
    font-size: 40rpx;
}
.phone-pro dd{
    margin-top: 5px;
}
.phone-pro dd:first-of-type{
    font-size: 16px;
    color: #000;
}
.phone-sub{
    display: flex;
    padding: 14px 15px;
}
.phone-sub label{
    width: 70px;
    color: #999;
}
.phone-sub span{
    margin-right: 10px;
}
.share-a{
    display: flex;
    align-items: center;
}
.share-a img{
    width: 11px;
    margin-right: 5px;
}
/*小标题*/
.phone-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    height: 44px;
}
.phone-title span{
    position: relative;
    color: #333;
    margin: 0 15px;
}
.phone-title span::before,.phone-title span::after{
    content: '';
    width: 2px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.phone-title span::before{
    right: 100%;
    margin-right: 6px;
}
.phone-title span::after{
    left: 100%;
    margin-left: 6px;
}
/*服务保障*/
.phone-rule-h{
    font-size: 14px;
    color: #333;
    font-weight: normal;
    display: flex;
    align-items: center;
}
.phone-rule-h+p{
    font-size: 12px;
    color: #999;
    margin-bottom: 15px;
    margin-top: 5px;
}
/*参数选择*/
.group-span{
    display: inline-block;
    width: 33.33%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #666;
    background-color: #F7F7F7;
    border: 1px solid #F7F7F7;
    border-radius: 30px;
	margin-left: 10rpx;
	margin-top: 10rpx;
}

.choose-group view{
    display: flex;
    flex-wrap: wrap;
}
.choose-group view>text{
    width: 33.33%;
    margin-top: 10px;
}
.choose-group view>text:nth-of-type(3n+2){
    text-align: center;
}
.choose-group view>text:nth-of-type(3n){
    text-align: right;
}
.choose-group view .group-span{max-width: 90%;}

/* 常用文字颜色 */
.whitebg{background:#FFF}
.redbg{background:#F00}
.greenbg{background:#0F0}
.bluebg{background:#00F}
.yellowbg{background:#ff9900}
.lbluebg{background:#0FF}
.blackbg{background:#000}
.brownbg{background:#3c1c05}
.dgraybg{background:#444}
.mgraybg{background:#666}
.lgraybg{background:#9c9c9c}
.graybg{background:#f6f6f6;}/*新增*/
.ebluebg{background:#f6f6f6;}

.phone-btn_block-1{
	width: 50%;
}
.phone-btn_block-share{
	background-color: blue;
}