
@charset "utf-8";
/* CSS Document */

a,a:hover,a:active,a:visited,a:link,a:focus{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;outline:none;background: none;text-decoration: none;}

/*字体*/
/* @font-face{font-family:"pingfang SC";src:url(../font/PINGFANG\ REGULAR.TTF);} */

page{font-family:"微软雅黑"; color:#333}

/*颜色*/
.cGray{ color:#999}
.cRed{ color:#f22424}
.cBlue{ color:#00a0ff}
.bgWhite{background: #fff;}

/*头部背景*/
.store-headbg{height: 143px;background:url(https://ah.189.cn/sj/cms/images/store-headbg.png) no-repeat;background-size: 100% auto;position: relative;}
.store-user{position: absolute;left:17px;top: 25px;}
.store-user .dt,.store-user dd{float: left;}
.store-user .dt{width: 34px;height: 34px;background: #fff;border-radius: 50%;}
.store-user .dt img{border-radius: 50%;width: 34px;height:34px;}
.store-user .dd{font: 14px/17px "微软雅黑";color: #fff;margin-left: 10px;}
.store-user .dd.f12{font-size: 12px;}

/*九宫格1*/
/* .store-nine{background: #fff;height: 50px;position: absolute;bottom:-10px;left:15px;width: calc(100% - 30px);border-radius: 5px;box-shadow:  0 0 3px #eaeaea;padding:10px 0}
.store-nine .dl{float: left;width: 25%;text-align: center;font: 12px/18px "微软雅黑";}
.store-nine-icon{width: 24px;height: 26px;display:inline-block;background: url(https://ah.189.cn/sj/cms/images/store-nine.png) no-repeat left top;background-size: 168px auto;}
.nine1-icon2{background-position: -24px 0;}
.nine1-icon3{background-position: -48px 0;}
.nine1-icon4{background-position: -72px 0;} */
/*九宫格1*/
.store-nine{background: #fff;height: 68px;position: absolute;bottom:-10px;left:15px;width: calc(100% - 30px);border-radius: 5px;box-shadow:  0 0 3px #eaeaea;padding:10px 0}
.store-nine .dl{float: left;width: 25%;text-align: center;font: 12px/18px "微软雅黑";}
.store-nine-icon{width: 40px;height: 45px;display:inline-block;background: url(https://ah.189.cn/sj/cms/images/store-nine.png) no-repeat left top;background-size: 280px auto;}
.nine1-icon2{background-position: -40px 0;}
.nine1-icon3{background-position: -80px 0;}
.nine1-icon4{background-position: -120px 0;}

/*头部banner轮播*/
.store-banner{width: calc(100% - 23px);height: auto;background: #fff;overflow: hidden;margin:30px auto 20px}
.store-banner img{width: 100%;height:100%}
.swiper-pagination-bullet{background-color: #b3b3b3 !important;opacity:1 !important;width: 5px !important;height: 5px !important;}
.swiper-pagination-bullet-active{background-color: #eb5934 !important;}
.swiper-container-horizontal>.swiper-pagination-bullets{bottom:2px !important;}
.banner{position: relative;}
.banner i{width: 14px;height: 14px;position: absolute;background-image: url(https://ah.189.cn/sj/cms/images/sjmall/images/shouye_close_icon.png);background-size: 14px 14px;background-repeat: no-repeat;right: 0px;top: -32px;}
/*九宫格2*/
/* .store-nine2{width: calc(100% - 30px);margin:0 15px 15px;padding-bottom: 15px;}
.store-nine2 .dl{float: left;width: 25%;text-align: center;font: 12px/20px "微软雅黑";}
.store-nine2-icon{width: 28px;height: 28px;display:inline-block;background: url(https://ah.189.cn/sj/cms/images/store-nine2.png) no-repeat left top;background-size: 112px auto;}
.nine2-icon2{background-position: -28px 0;}
.nine2-icon3{background-position: -56px 0;}
.nine2-icon4{background-position: -84px 0;} */

.store-nine2{width: calc(100% - 30px);margin:0 15px 15px;padding-bottom: 15px;}
.store-nine2 .dl{float: left;width: 25%;text-align: center;font: 12px/20px "微软雅黑";}
.store-nine2-icon{width: 50px;height: 50px;display:inline-block;background: url(https://ah.189.cn/sj/cms/images/store-nine2.png) no-repeat left top;background-size: 200px auto;}
.nine2-icon2{background-position: -50px 0;}
.nine2-icon3{background-position: -100px 0;}
.nine2-icon4{background-position: -150px 0;}

/*公用tit*/
.store-tit{font: 14px/30px "微软雅黑";font-weight: bold;}
.store-tit-icon{width: 16px;height: 15px;display:inline-block;background: url(https://ah.189.cn/sj/cms/images/store-tit.png) no-repeat left top;background-size: 80px auto;margin-right: 8px;vertical-align: middle;}
.manager-icon2{background-position: -16px 0;}
.manager-icon3{background-position: -32px 0;}
.manager-icon4{background-position: -48px 0;}
.manager-icon5{background-position: -64px 0;}

/*店长推荐*/
.store-manager{padding: 10px;}
.store-manager-dl{margin-top: 10px;display: table;position: relative;}
.store-manager-dl .dt,.store-manager-dl dd,.store-manager-dl span{display: table-cell;}
.store-manager-dl .dt {width: 80px;height: 44px;border-radius: 4px;box-shadow: 0 0 5px #f4f4f4;display: inline-block;padding:10px 0;}
.store-manager-dl .dt  img{width: 100%;height: 50px}
.store-manager-dl .dd{width: calc(100% - 150px);padding-left: 5px;vertical-align: top;}
.store-manager-dl .dd h3{font: 14px/18px "微软雅黑";font-weight: bold;}
.store-manager-dl .dd .p{color: rgb(153, 153, 153);margin-top: 5px;font: 12px / 15px 微软雅黑;}
.store-manager-dl .dd text{font: 12px/15px "微软雅黑";color: #999;margin-top: 5px;}
.store-manager-dl em{height: 100%;vertical-align: middle;}
.store-manager-dl a{height: 22px;border:1px solid #ff4b1f;border-radius: 50px;color: #ff4b1f;text-align: center;font: 12px/22px "微软雅黑";display: inline-block;width:60px;}
.store-manager-dl i{width: 14px;height: 14px;position: absolute;background-image: url(https://ah.189.cn/sj/cms/images/sjmall/images/shouye_close_icon.png);background-size: 14px 14px;background-repeat: no-repeat;right: 0px;top: -4px;}

/*权益专区*/
.store-qy-img{width:100%;margin:5px auto 0;}
.store-qy-img img{width: 100%;}

/*热门活动*/
.store-hot-flex{display: flex;}
.store-hot{box-shadow: 0 0 5px #f4f4f4;border-radius: 5px;width: 50%;flex-direction: column;margin:10px 5px 0;padding:15px 8px;position: relative;}
.store-hot h3{font: 14px/18px "微软雅黑";color: #ff4b1f;overflow: hidden;width: 70%;height: 18px;}
.store-hot h4{font: 12px/18px "微软雅黑";color: #999;overflow: hidden;height: 18px;}
.store-hot-icon{display: inline-block;background: url(https://ah.189.cn/sj/cms/images/store-hot.png) no-repeat left top; background-size: 200px auto;width: 50px;height: 50px;position: absolute;right:0;top:5px;}
.hot-icon2{background-position: -50px 0;}
.hot-icon3{background-position: -100px 0;}
.hot-icon4{background-position: -150px 0;}
.store-hot i{width: 14px;height: 14px;position: absolute;background-image: url(https://ah.189.cn/sj/cms/images/sjmall/images/shouye_close_icon.png);background-size: 14px 14px;background-repeat: no-repeat;right: -4px;top: -4px;}

/*团购活动*/
.store-activity-banner{width:100%;overflow: hidden;margin:0 auto;text-align: left;}
.store-activity-banner .dl{margin: 10px 0 20px;}
.store-activity-banner .dt,.store-activity-banner dd{float: left;}
.store-activity-banner .dt{width: 62px;height: 62px;border: 1px solid #eee;border-radius: 4px;margin:0 10px 0 12px;}
.store-activity-banner .dd .label{font: 12px/20px "微软雅黑";color: #ff4b1f;background: url(https://ah.189.cn/sj/cms/images/store-activity-icon.png) no-repeat left center;padding-left: 14px;background-size:11px 11px;}
.store-activity-banner .dd h3{font: 14px/20px "微软雅黑";color: #333;font-weight: normal;}
.store-activity-banner .dd span{font: 14px/20px "微软雅黑";color: #ff4b1f;}
.store-activity-banner .dd span em{font-size: 12px;}
.store-activity-banner .dd span del{color: #999;}

/*业务推荐*/
.store-business-flex{display: flex;}
.store-business{flex-direction: column;width: 33%;border-radius: 5px;margin:10px 5px 0;padding:10px 5px;position: relative;}
.store-business-bg1{background: url(https://ah.189.cn/sj/cms/images/store-business-bg.png) no-repeat left top;background-size: cover;color: #7a4b02;}
.store-business-bg2{background: url(https://ah.189.cn/sj/cms/images/store-business-bg2.png) no-repeat left top;background-size: cover;color: #2665bc;}
.store-business h3{font: 14px/18px "微软雅黑";overflow: hidden;height: 18px;}
.store-business h4{font: 12px/18px "微软雅黑";overflow: hidden;height: 18px;}
.store-business a{border-radius: 50px;color: #fff;font: 12px/18px "微软雅黑";text-align: center;display: inline-block;padding:0 6px;margin-top: 10px;}
.store-business-bg1 a{background: #deac67;}
.store-business-bg2 a{background: #629bd8;}
.store-business i{width: 14px;height: 14px;position: absolute;background-image: url(https://ah.189.cn/sj/cms/images/sjmall/images/shouye_close_icon.png);background-size: 14px 14px;background-repeat: no-repeat;right: -4px;top: -4px;}

/*服务导航*/

.store-service-flex{padding:12px 0;display: flex;}
.store-service-flex li{width: 33.33%;position: relative;text-align: center;line-height: 45px;flex-direction: column;}
/* .store-service-flex li+li:before{content: '';position: absolute;left: 0px;width: 1px;height: 10px;background-color: #e8e8e8;top: 50%;transform: translateY(-50%);} */
.store-service-flex li text{vertical-align: middle;margin-right: 7px;}
.nine1-icon5{background-position: -100px 0;}
.nine1-icon6{background-position: -160px 0;}
.nine1-icon7{background-position: -200px 0;}
.nine1-icon8{background-position: -240px 0;}

/*footer*/
.pb60{padding-bottom: 60px;}
.store-footer-flex{padding:8px 0;height: 34px;box-shadow: 0 0 5px #eaeaea;background: #fff;position: fixed;width: 100%;left:0;bottom: 0;display: flex;}
.store-footer-flex .dl{flex-direction: column;text-align: center;width: 33.33%;}
.store-footer-icon{width: 18px;height: 18px;display: inline-block;background: url(https://ah.189.cn/sj/cms/images/store-footer-icon.png) no-repeat left top; background-size: 54px auto;}
.footer-icon1{background-position: 0 -18px;}
.footer-icon2{background-position: -18px -18px;}
.footer-icon3{background-position: -36px -18px;}
.store-footer-flex .dl.hover .footer-icon1{background-position: 0 0;}
.store-footer-flex .dl.hover .footer-icon2{background-position: -18px 0;}
.store-footer-flex .dl.hover .footer-icon3{background-position: -36px 0;}
.store-footer-flex .dl.hover{color: #ff4b1f;}